* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.general, .main {
    padding: 0 5% 0 5%;
    height: 95vh;
    display:flex;
    flex-direction: column;
}

.main {
    margin: auto;
    justify-content: center;
    background-image: url('../public/bgc.jpg');
    background-size: cover;
}

.call-to-action {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding: 1rem;
    gap: 10px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      120deg,
      rgba(182, 113, 247, 0.3),
      rgba(34, 6, 71, 0.26)
    );
    border-radius: 12px;
    color: #CEDCD8;
}

.call-to-action>p {
    font-size: 16px;
    line-height: 25px;
}

.action {
    height: 3.5rem;
    width: 15rem;
    transform: translate(0%, 0%);
    box-shadow: 0 1.25em 2.18em rgba(145, 98, 71, 0.507);
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.31em;
    border: none;
    margin: 15px auto 0;
  }
  .action:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(
      to right,
      #fd004c 2.62em,
      #fe9000 5.25em,
      #fff020 7.87em,
      #3edf4b 10.5em,
      #3363ff 15.75em,
      #fd004c 18.75em
    );
    background-size: 125em;
  }
  .action:after {
    content: "SHOP NOW";
    position: absolute;
    background-color: #201d49;
    height: 85%;
    width: 93%;
    top: 7.5%;
    left: 3.5%;
    border-radius: 0.2em;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.3em;
    display: grid;
    place-items: center;
  }
  .action:hover:before {
    background-position: -106.25em 0;
    transition: 10s linear;
  }

.aboutPage, .contactsPage {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 20px;
}

.numEmail {
  width: 250px;
  margin: auto;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0 0 10px gainsboro;
}

@media (max-width: 700px) {
  .call-to-action {
    align-items: center;
    width: auto;
  }
}